<div class="parallax"></div>

<div class="container">
    <div class="heading">
        <h1 style="justify-content: center; display: flex;">
            About Us
          </h1>
    </div>
    <div class="about">
        <p>
            We are the <i>Robotics Club</i> of the <b><i>Indrapastha Institue of Information Technology, Delhi</i></b>.
            Our work consists of creating both hardware as well as software solutions. 
            We are focused on developing algorithms which derive new possibilities with a 
            limited set of hardware in an adverse environment. Our club is based on the philosophy of 
            <b>T</b>ogether <b>E</b>veryone <b>A</b>chieves <b>M</b>ore often abbreviated as <b>TEAM</b>. Through this club, we want to 
            provide a space to all the interested people to come together and build things that matter. 
            The club will help you with resources, space, funding and time.
        </p>
    </div>
    
</div>
<div class="container">
    <div class="heading">
        <h1 style="justify-content: center; display: flex;">
            Something we do
          </h1>
    </div>
    <div class="shadow">
        <div class="container1">
            <div class="text"></div>
        </div>
        <div class="container1">
            <div class="text1"></div>
        </div>
    </div>
    
</div>
<div class="parallax1"></div>

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-8 col-sm-12 offset-md-3">
			<h4>Timeline</h4>
			<ul class="timeline">
				<li>
                    <a target="_blank" href="#">CanSat development</a>
					<a href="#" class="float-right">February'17</a>
					<p> Second prize in CanSat development and launching at <b>Delhi Technological University, Delhi</b></p>
				</li>
				<li>
					<a href="#">Innothon, ISGW</a>
					<a href="#" class="float-right">January'18</a>
					<p>Modeled a multipurpose UAV and a river-cleaning boat at <b>Netaji Subash Institute of Information Technology, Delhi</b> </p>
				</li>
				<li>
					<a href="#">Hardware Hackathon</a>
					<a href="#" class="float-right">April'17</a>
					<p>Organised Hardware Hackathon in which 14 teams participated</p>
				</li>
				<li>
					<a href="#">Boeing Aero-modeling Competition</a>
					<a href="#" class="float-right">December'17</a>
					<p> Participated in Boeing Aero-modeling Competition at <b>IIT, Bombay</b></p>
				</li>
				<li>
					<a href="#">Mind Maze Competition</a>
					<a href="#" class="float-right">February'18</a>
					<p> Participated in Mind Maze Competition at <b>IIT, Dehi</b></p>
				</li>
				<li>
					<a href="#">Ideathon</a>
					<a href="#" class="float-right">August'19</a>
					<p> Organised an Ideathon at <b>IIIT, Dehi</b> where 19 temas participated.</p>
				</li>
				<li>
					<a href="#">Control Theory</a>
					<a href="#" class="float-right">September'19 - October'19</a>
					<p> Took multiple sessions on Control Theory and Computer Vision at <b>IIIT, Dehi</b> where 19 teams participated.</p>
				</li>
				<li>
					<a href="#">ABU Robocon 2020</a>
					<a href="#" class="float-right">February'20 - March'20</a>
					<p> Participated in ABU Robocon 2020 at <b>IIIT, Dehi</b> </p>
				</li>
				<li>
					<a href="#">Drone Simulation</a>
					<a href="#" class="float-right">June'20 - July'20</a>
					<p> Finished projects on Drone Simulation and Semantic Segmentation at <b>IIIT, Dehi</b> </p>
				</li>
			</ul>
		</div>
	</div>
</div>
