<div  id="carousel">

    <div class="carousel-container">
      
      <div class="carousel my-carousel carousel--translate">
        <input class="carousel__activator" type="radio" name="carousel" id="F" checked="checked"/>
        <input class="carousel__activator" type="radio" name="carousel" id="G"/>
        <input class="carousel__activator" type="radio" name="carousel" id="H"/>
        <input class="carousel__activator" type="radio" name="carousel" id="I"/>
        <input class="carousel__activator" type="radio" name="carousel" id="J"/>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="J"></label>
          <label class="carousel__control carousel__control--forward" for="G"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="F"></label>
          <label class="carousel__control carousel__control--forward" for="H"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="G"></label>
          <label class="carousel__control carousel__control--forward" for="I"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="H"></label>
          <label class="carousel__control carousel__control--forward" for="J"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="I"></label>
          <label class="carousel__control carousel__control--forward" for="F"></label>
        </div>
        <div class="carousel__track">
          <li class="carousel__slide">
            <h1> Lorem ipsuacm</h1>
          </li>
          <li class="carousel__slide">
            <h1> Lorem ipsumcxz</h1>
          </li>
          <li class="carousel__slide">
            <h1> Lorem ipsum erfwe</h1>
          </li>
          <li class="carousel__slide">
            <h1> werLorem ipsum</h1>
          </li>
          <li class="carousel__slide">
            <h1> Lorem ipsum</h1>
          </li>
        </div>
        <div class="carousel__indicators">
          <label class="carousel__indicator" for="F"></label>
          <label class="carousel__indicator" for="G"></label>
          <label class="carousel__indicator" for="H"></label>
          <label class="carousel__indicator" for="I"></label>
          <label class="carousel__indicator" for="J"></label>
        </div>
      </div>
    </div>
    </div>

    <div class="heading ">
        <h1 style="justify-content: center; display: flex;">
            About Us
          </h1>
    </div>

<div class="container ">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-sm-12">
            <div class="goal">
                <h1 style="justify-content: center; display: flex;">
                    Our Goal
                  </h1>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 xol-sm-12">
            <div class="about">
                <p>
                    We are the <i>Robotics Club</i> of the <b><i>Indrapastha Institue of Information Technology, Delhi</i></b>.
                    Our work consists of creating both hardware as well as software solutions. 
                    We are focused on developing algorithms which derive new possibilities with a 
                    limited set of hardware in an adverse environment. Our club is based on the philosophy of 
                    <b>T</b>ogether <b>E</b>veryone <b>A</b>chieves <b>M</b>ore often abbreviated as <b>TEAM</b>. Through this club, we want to 
                    provide a space to all the interested people to come together and build things that matter. 
                    The club will help you with resources, space, funding and time.
                </p>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-sm-12">
            <div class="goal1">
                <h1 style="justify-content: center; display: flex;">
                    What We Do
                  </h1>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-sm-12" >
            <div class="about">
                <ul>
                    <li>
                        Provide tech talks, guidance and mentorship from professors.
                    </li>
                    <li>
                        Provide technical help to students working on interesting projects.
                    </li>
                    <li>
                        Have a small lab with a large inventory for club members to work on their own projects.
                    </li>
                    <li>
                        Completely independent components issuing policy.
                    </li>
                    <li>
                        Provide funding / sponsorships for projects and components required for hackathons and other competitions.
                    </li>
                    <li>
                        Fortnightly workshops / discussions on key aspects of various streams of robotics and other problem statements.
                    </li>
                    <li>Publishing design articles.</li>
                    <li>
                        Regular discussions on Club forums, blog or group pages.
                    </li>
                    <li>
                        Float projects on real life problems and bring out a product or an idea to solve that.
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</div>
<!--<main class="container1">
	<div class="child">
		<h2>Image 1</h2>
	</div>
	<div class="child">
		<h2>Image 2</h2>
	</div>
	<div class="child">
		<h2>Image 3</h2>
	</div>
	<div class="child">
		<h2>Image 4</h2>
	</div>
	<div class="child">
		<h2>Image 5</h2>
	</div>
</main>

-->
<div class="heading ">
  <h1 style="justify-content: center; display: flex;">
     Meet the Team
  </h1>
</div>
<div class="team">
  <div class="container">
    <div class="row">

      <!-- <div class="col-3"></div> -->

      <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3  d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/dipanshu aggarwal(coordinator).jpg" alt="Dipanshu Aggarwal" style="width:100%">
          <div class="content">
            <h3>Dipanshu Aggarwal</h3>
            <p class="title">Coordinator</p>
            <p>Electronics & Communication Engineering</p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/dipanshu-13"><i class="fa fa-github"></i></a> 
              <a href="https://www.linkedin.com/in/dipanshu-aggarwal-b187ba195"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:dipanshu18139@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>VLSI Design, Embedded Systems and Machine Learning Algorithms
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3  d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/paras sharma (coordinator).JPG" alt="Paras Sharma" style="width:100%">
          <div class="content">
            <h1>Paras Sharma</h1>
            <p class="title">Coordinator</p>
            <p>Computer Science and Applied Mathematics</p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/paras1612"><i class="fa fa-github"></i></a> 
              <a href="https://www.linkedin.com/in/paras1612/"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:paras17250@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>Algorithm Design in Computer Vision, Robotics and Machine Learning
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-3"></div> -->
      

      <div class=" col-xs-12 col-sm-3 col-lg-3 col-xl-3  d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/vishal samal (admin).jpg" alt="Vishal Samal" style="width:100%">
          <div class="content">
            <h1>Vishal Samal</h1>
            <p class="title">Admin</p>
            <p>Electronics & Communication Engineering</p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/vishal17209"><i class="fa fa-github"></i></a> 
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:vishal17209@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>Signal Processing and Computer Architecture</p>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/Mayank Rawat.jpg" alt="Mayank Rawat" style="width:100%">
          <div class="content">
            <h1>Mayank Rawat</h1>
            <p class="title">Admin</p>
            <p>Computer Science and Engineering</p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/mayank18049"><i class="fa fa-github"></i></a> 
              <a href="https://www.linkedin.com/in/mayank-rawat-0a7a77182/"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:mayank18049@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Operating Systems, Hardware Software Co design, Communication System.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/setu (admin).jpg" alt="Setu Gupta" style="width:100%">
          <div class="content">
            <h1>Setu Gupta</h1>
            <p class="title">Admin</p>
            <p>Computer Science and Engineering </p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/Setu-Gupta"><i class="fa fa-github"></i></a> 
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:setu18190@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Computer Architecture and Reconfigurable Computing
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class=" col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/Devansh Gupta.jpg" alt="Devansh Gupta" style="width:100%">
          <div class="content">
            <h1>Devansh Gupta</h1>
            <p class="title">Member</p>
            <p>Computer Science and Artificial Intelligence          </p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/devanshgupta160"><i class="fa fa-github"></i></a> 
              <a href="https://www.linkedin.com/in/devansh-g-784842106"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:devansh19160@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Theory of Machine Learning (especially in Deep Learning, Representation Learning and Reinforcement Learning) and Control Theory
              </p>
            </div>
          </div>
        </div>
      </div> 

      <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/Divin Dominic.jpg" alt="Divin Dominic" style="width:100%">
          <div class="content">
            <h1>Divin Dominic</h1>
            <p class="title">Member</p>
            <p>Electronics & Communication Engineering</p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/divindominic"><i class="fa fa-github"></i></a> 
              <a href="https://www.linkedin.com/in/divin-dominic-891666148"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:divin19163@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Deep Learning and Embedded Logic Design
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/Lavanya Verma.jpg" alt="Lavanya Verma" style="width:100%">
          <div class="content">
            <h1>Lavanya Verma</h1>
            <p class="title">Member</p>
            <p>Electronics & Communication Engineering          </p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/broompa"><i class="fa fa-github"></i></a> 
              <a href="https://www.linkedin.com/in/vermalavanya"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:lavanya18155@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Control Theory, Mathematics, Robotics
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/Rohith Rajesh.jpg" alt="Rohith Rajesh" style="width:100%">
          <div class="content">
            <h1>Rohith Rajesh</h1>
            <p class="title">Member</p>
            <p>Electronics & Communication Engineering          </p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/RohithRajesh"><i class="fa fa-github"></i></a>  
              <a href="https://www.linkedin.com/in/rohith-rajesh-1ba894176/"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:rohith18182@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Deep Learning Architectures and Hardware Accelarators on FPGAs
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/Tanmay Rajore.jpg" alt="Tanmay Rajore" style="width:100%">
          <div class="content">
            <h1>Tanmay Rajore</h1>
            <p class="title">Member</p>
            <p>Computer Science and Engineering          </p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/TanmayRajore"><i class="fa fa-github"></i></a> 
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:tanmay19118@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Hardware and networking security and also on Deep learning and AI with emphasis on self driving technology.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/Vaibhav.jpg" alt="Vaibhav" style="width:100%">
          <div class="content">
            <h1>Vaibhav</h1>
            <p class="title">Member</p>
            <p>Computer Science and Biology</p>
            <div style="margin: 24px 0;">
              <a href="#"><i class="fa fa-github"></i></a> 
              <a href="https://www.linkedin.com/in/vaibhavkanojia"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:vaibhav19453@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Python, Maths, design, computer science, and business.
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch ">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/Saarthak Gupta.jpg" alt="Saarthak Gupta" style="width:100%">
          <div class="content">
            <h1>Saarthak Gupta</h1>
            <p class="title">Member</p>
            <p>Computer Science and Applied Mathematics          </p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/saarthk"><i class="fa fa-github"></i></a> 
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:saarthak19445@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Anything divorced from reality is a big turn on :)
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/Mudit Aggarwal.jpg" alt="Mudit Aggarwal" style="width:100%">
          <div class="content">
            <h1>Mudit Aggarwal          </h1>
            <p class="title">Member</p>
            <p>Computer Science and Engineering</p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/v1at0r"><i class="fa fa-github"></i></a> 
              <a href="https://www.linkedin.com/in/mudit-aggarwal-4827b439"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:mudit19063@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>          
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Pure and Applied Maths, Algorithms, as well as Electronics, Philosophy. 
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/Madhur Kumar.jpg" alt="Madhur Kumar          " style="width:100%">
          <div class="content">
            <h1>Madhur Kumar</h1>
            <p class="title">Member</p>
            <p>Electronics & Communication Engineering</p>
            <div style="margin: 24px 0;">
              <a href="#"><i class="fa fa-github"></i></a> 
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:madhur19171@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Analog Circuit, Computer Architecture, VLSL and HDL.
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="../../assets/cyborg_team/tushar.jpeg" alt="Tushar Mohan" style="width:100%">
          <div class="content">
            <h1>Tushar Mohan</h1>
            <p class="title">Web-Admin</p>
            <p>Computer Science with Social Sciences</p>
            <div style="margin: 24px 0;">
              <a href="https://github.com/tushar2407/"><i class="fa fa-github"></i></a> 
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="mailto:tushar19393@iiitd.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>
                Web Development
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="heading ">
  <h1 style="justify-content: center; display: flex;">
      Our Alumni
    </h1>
</div>

<div class="team">
  <div class="container">
    <div class="row">

      <div class=" col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/lokinder.jpeg" alt="Lokinder" style="width:100%">
          <h1>Lokinder</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/akash.png" alt="Akash" style="width:100%">
          <h1>Akash</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/aniket.jpeg" alt="Aniket" style="width:100%">
          <h1>Aniket</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>

      <div class=" col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/aseem.jpeg" alt="Aseem" style="width:100%">
          <h1>Aseem</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>
      

      <div class="col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/mandy.jpg" alt="Mandy" style="width:100%">
          <h1>Mandy</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div> 

      <div class="col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/mukul.jpeg" alt="Mukul" style="width:100%">
          <h1>Mukul</h1>
          <p class="title">Almuni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/neel.jpg" alt="Neel" style="width:100%">
          <h1>Neel</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>

      
      <div class="col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/pulkit.jpg" alt="Pulkit" style="width:100%">
          <h1>Pulkit</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>

      
      <div class="col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/rishin.jpeg" alt="Rishin" style="width:100%">
          <h1>Rishin</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/sarthak.jpeg" alt="Sarthak" style="width:100%">
          <h1>Sarthak</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>
      
      <div class="col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/saumyadeep.jpg" alt="Saumyadeep" style="width:100%">
          <h1>Saumyadeep</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>
      
      <div class="col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/suraj.jpg" alt="Suraj" style="width:100%">
          <h1>Suraj</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>

      <div class=" col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2">
        <div class="card">
          <img src="../../assets/cyborg_alumni/devesh.jpeg" alt="Devesh" style="width:100%">
          <h1>Devesh</h1>
          <p class="title">Alumni</p>
          <div style="margin: 24px 0;">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<hr>
<div id="feedback"></div>
<app-feedback></app-feedback>

<!-- <div class="container" style="padding: 5vw;">
  <div class="feedback">
    <div class="row">
      <div class="col-12">
      <h3 style="text-align: center;">Feel free to share your Ideas, Suggestions or Queries</h3>
      <form method="POST" action="mailto:tushar.mohan2001@gmail.com">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input type="text" name="Name" placeholder="Your full name">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

          <input type="email" name="Email Id" placeholder="Your Email Adress">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input type="text" name="feedback" placeholder="Ideas, Suggestions or Queries" rows="5"  cols="12">
        </div>
          <button type="submit" mat-raised-button>Submit</button>
      </form> 
      </div>
    </div>
  </div>
</div> -->
