input, textarea{
    outline: none;
    border: none;
    border-bottom: rgba(0,0,0,0.5) solid 0.5px;
    width: 100%;
    margin: 1rem;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    color: white;
  }
  button:active, button:focus{
    outline: none;
    border: none; 
  }
  button
  {
    background-color: white;
  }
  .col-12{
    justify-content: center;
    text-align: center;
  }
h1, h2, h3 , h4, h5, h6{
    font-family: 'Audiowide', cursive;
    color: white;
}
.container{
    // position: relative;
    margin-top: 50px;
    // margin-bottom: -300px;
}