<div class="container" style="padding: 5vw;">
    <div class="feedback">
      <div class="row">
        <div class="col-12"></div>
        <div class="col-12">
        <h3 style="text-align: center;">Feel free to share your Ideas, Suggestions or Queries</h3>
        <form method="POST" action="mailto:cyborg@sc.iiitd.ac.in">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input type="text" name="Name" placeholder="Your full name">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input type="email" name="Email Id" placeholder="Your Email Adress">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input type="text" name="feedback" placeholder="Ideas, Suggestions or Queries" rows="5"  cols="12">
          </div>
            <button type="submit" mat-raised-button>Submit</button>
        </form> 
        </div>
      </div>
    </div>
  </div>
  