<div  id="carousel">

    <div class="carousel-container">
      
      <div class="carousel my-carousel carousel--translate">
        <input class="carousel__activator" type="radio" name="carousel" id="F" checked="checked"/>
        <input class="carousel__activator" type="radio" name="carousel" id="G"/>
        <input class="carousel__activator" type="radio" name="carousel" id="H"/>
        <input class="carousel__activator" type="radio" name="carousel" id="I"/>
        <input class="carousel__activator" type="radio" name="carousel" id="J"/>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="J"></label>
          <label class="carousel__control carousel__control--forward" for="G"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="F"></label>
          <label class="carousel__control carousel__control--forward" for="H"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="G"></label>
          <label class="carousel__control carousel__control--forward" for="I"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="H"></label>
          <label class="carousel__control carousel__control--forward" for="J"></label>
        </div>
        <div class="carousel__controls">
          <label class="carousel__control carousel__control--backward" for="I"></label>
          <label class="carousel__control carousel__control--forward" for="F"></label>
        </div>
        <div class="carousel__track">
          <li class="carousel__slide" *ngFor="let i of carousel" style="background-image: url({{i.image}});" >
            <h3> {{i.description}}</h3>
          </li>
        </div>
        <div class="carousel__indicators">
          <label class="carousel__indicator" for="F"></label>
          <label class="carousel__indicator" for="G"></label>
          <label class="carousel__indicator" for="H"></label>
          <label class="carousel__indicator" for="I"></label>
          <label class="carousel__indicator" for="J"></label>
        </div>
      </div>
    </div>
    </div>

<div class="heading mt-5 container">
  <h1 style="justify-content: center; display: flex;">
     MEET THE TEAM
  </h1>
</div>
<div class="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3  d-flex align-items-stretch" style="margin-bottom: 20px;" *ngFor="let m of members">
        <div class="card h-100">
          <img src="{{m.Image}}" alt="{{m.Name}}" style="width:100%" >
          <div class="content mt-1">
            <h3>{{m.Name}}</h3>
            <p class="title" >{{m.Designation}}</p>
            <p>{{m.Branch}}</p>
            <div style="margin: 24px 0 0 0 ;">
              <a href="{{m.Github}}"><i class="fa fa-github" aria-hidden="true"></i></a> 
              <a href="{{m.Linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>  
              <a href="mailto:{{m.Email}}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
            <div class="interests">
              <h6>Interest :</h6>
              <p>{{m.Interests}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="heading ">
  <h1 style="justify-content: center; display: flex;">
      Our Alumni
    </h1>
</div>

<div class="team">
  <div class="container">
    <div class="row">

      <div class=" col-xs-6 col-sm-6  col-md-m2 col-lg-2 col-xl-2 align-items-stretch" *ngFor="let a of alumni">
        <div class="card">
          <img src="assets/cyborg_alumni/{{a.image}}" alt="{{a.Name}}" style="width:100%">
          <h5 class="mt-2">{{a.Name}}</h5>
          <!-- <p class="title">Alumni</p> -->
          <!-- <div style="margin: 14px 0;">
          </div> -->
        </div>
      </div>

    </div>
  </div>
</div>

<hr>
