<!-- <div class="heading ">
  <h1 style="justify-content: center; display: flex;">
    Projects
    </h1>
</div> -->

<!-- <div class="container"> -->
  <div class="head d-flex justify-content-center align-items-center">
    <h1 style="z-index:1000; margin: 0;">Projects</h1>
  </div>
  <div class="camera x" style="max-height: 100vh; overflow: hidden; margin-top: -20rem; background-color: lightgray;">
    <div class="camera y">
      <div class="camera z">
        <div class="city">
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
          <div class="area">
            <div class="building"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- <div class="row header" style="box-shadow: 0px 4px 8px rgba(0,0,0,0.35);">
  <div class="col-1"></div>
  <div class=" col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
    <h1 style="justify-content: center; display: flex; align-items: center;">
      Projects
    </h1>
  </div>
  <div class="col-md-10 col-lg-10 col-xl-10 col-sm-12 col-xs-12">
    <img src="../../assets/bg2.jpg" style="width: 100%; height:auto;">  

  </div>
</div> -->
<!--
<div class="container"> 
  <div class="card-group">
      <div class="card ">
        <img src="../../assets/isgw.jpg" alt="Denim Jeans" height="300px" width="100%">
        <h1>ISGW</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="card  ">
        <img src="../../assets/linefollower.jpeg" alt="Denim Jeans" height="300px" width="100%">
        <h1>Line Follower</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>

      <div class="card ">
        <img src="../../assets/smart bin.png" alt="Denim Jeans" height="300px" width="100%">
        <h1>Smart Bin</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="card ">
        <img src="../../assets/Window Cleaning Drone(Hover).jpeg" alt="Denim Jeans" height="300px" width="100%">
        <h1>Drone</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
    </div>
</div>
-->
<!--
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-lg-3 col-xl-3 card">
      <img src="../../assets/isgw.jpg" alt="Denim Jeans" height="300px" width="100%">
        <h1>ISGW</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-3 col-xl-3 card">
      <img src="../../assets/linefollower.jpeg" alt="Denim Jeans" height="300px" width="100%">
        <h1>Line Follower</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-3 col-xl-3 card">
      <img src="../../assets/smart bin.png" alt="Denim Jeans" height="300px" width="100%">
        <h1>Smart Bin</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-3 col-xl-3 card">
      <img src="../../assets/Window Cleaning Drone(Hover).jpeg" alt="Denim Jeans" height="300px" width="100%">
        <h1><a>Drone</a></h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>
    
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card1" id="first">
        <h1>ISGW</h1>
        <p>lorem ipsum</p>
      </div>      
    </div>
    <div class="col">
      <div class="card1" id="second">
        <h1>Line Follower</h1>
        <p>lorem ipsum</p>
      </div>      
    </div>
    <div class="col">
      <div class="card1" id="third">
        <h1>Smart Bin</h1>
        <p>lorem ipsum</p>
      </div>      
    </div>
    <div class="col">
      <div class="card1" id="fourth">
        <h1>Drone</h1>
        <p>lorem ipsum</p>
      </div>      
    </div>
    <div class="card2">
      <div class="image">
        <img src="../../assets/c2.jpg" alt="">
      </div>
      <div class="detail">
        <h3>Hover</h3>
        <p>
          Lorem ipsum
        </p>
      </div>
    </div>
  </div>
</div>
-->
<!-- card trying -->
<!-- <div class="container">
  <div class="row" >
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 container">
      <div class="card2">
        <div class="image">
          <img src="../../assets/isgw.jpg" alt="">
        </div>
        <div class="detail">
          <h3>ISGW</h3>
          <p>
            Lorem ipsum
          </p>
          <a href="#">
            Repo
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 container">
      <div class="card2">
        <div class="image">
          <img src="../../assets/linefollower.jpeg" alt="">
        </div>
        <div class="detail">
          <h3>Line Follower</h3>
          <p>
            Lorem ipsum
          </p>
          <a href="#">
            Repo
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 container">
      <div class="card2">
        <div class="image">
          <img src="../../assets/Window Cleaning Drone(Hover).jpeg" alt="">
        </div>
        <div class="detail">
          <h3>Drone</h3>
          <p>
            Lorem ipsum
          </p>
          <a href="#">
            Repo
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 container">
      <div class="card2">
        <div class="image">
          <img src="../../assets/smart bin.png" alt="">
        </div>
        <div class="detail">
          <h3>Smart Bin</h3>
          <p>
            Lorem ipsum
          </p>
          <a href="#">
            Repo
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
  
</div> -->
<div class="container">
  <div class="row d-flex justify-content-around mb-5">
    <div class="card col-3" >
      <img class="card-img-top" src="https://drive.google.com/uc?export=view&id=1PcsUokvz2J7kKXitKOZKg6T4wJ26zN8l" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Maze Coverage and Basics of Graphs</h5>
        <p class="card-text">Discussion on maze-solving, pathfinding algorithms. A head start for some important topics in CSE courses as well as MTH courses for freshers, especially for coding your own algorithm to make your bots work.</p>
        <div class="card-body d-flex justify-content-center align-items-center">
          <a href="https://drive.google.com/drive/folders/1ph1EWYhNPRh9bB6NK3bM4A2R_tHZnUUc?usp=sharing " class="card-link"><i class="fab fa-google-drive"></i></a>
          <a href="# " class="card-link"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="card col-3" >
      <img class="card-img-top" src="https://drive.google.com/uc?export=view&id=10lEqTq0JCGXBcjmJXDf-ZqoYrCYenplk" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Basics of OpenCV</h5>
        <p class="card-text">Basic introduction in the field of computer vision starting from basics of thresholding techniques and color sampling to things like histogram equalization, and further to some extremes such as detecting eyes and lips on a human face using haar cascades.
        </p>
        <div class="card-body d-flex justify-content-center align-items-center">
          <a href="https://drive.google.com/drive/folders/1n3NSLgsGVGKPtqeHVlOw8tN81NH664Vv?usp=sharing " class="card-link"><i class="fab fa-google-drive"></i></a>
          <a href="# " class="card-link"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="card col-3" >
      <img class="card-img-top" src="https://drive.google.com/uc?export=view&id=1tqf-cLjtLCaULh9fLDe6wJUfVYHxn3o1" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Introduction to Control Theory: PID Controller </h5>
        <p class="card-text">An introduction to Control Theory and its numerous applications.The first session in series was on PID (proportional–integral–derivative) controls. Starting with a very simple model, we build up to real life applications like drone flying.
        </p>
        <div class="card-body d-flex justify-content-center align-items-center">
          <a href="https://drive.google.com/drive/folders/1cClnf2w89DIx7YGE6G2eAES-QdNphrzQ?usp=sharing " class="card-link"><i class="fab fa-google-drive"></i></a>
          <a href="# " class="card-link"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

