
#projects{
    min-height: 100px;
    padding: 50px;
    margin-bottom: 50px;
    color: black;   
    border-radius: 10px;
    // box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    // background-image: linear-gradient( 109.5deg,  rgba(76,221,242,1) 11.2%, rgba(92,121,255,1) 91.1% );
    width: 100vw;
}
h1{
    // font-family: 'Lobster Two', cursive;
    font-family: 'PT Serif', serif;
    font-size: 5rem;
    // position: relative;
    // margin-bottom: -10rem;
    color: #283593;
}
.head{
  display: flex;
}
#projects>h1{
    font-size: 5rem ;
}
/* heading */
.heading{
  min-height: 50vh;
  background-color: white;
  padding: 2rem;
  color: black;   
  border-radius: 10px;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  width: 100vw;
  opacity: 1;
  transition: all 0.3s  ease-in-out;
  display: flex;
  font-size: larger;

}
.heading:hover{
  background-color: black ;
  color: white;
  transform : translateY(5px);
  cursor: none;
  transition: all 0.3s ease-in-out ;
}
h1, h2, h3 , h4, h6{
  font-family: 'Lobster Two', cursive;
  font-size: 5rem;
}
.heading>h1{
  font-size: 3rem ;
}
.container{
  // position: relative;
  margin-top: 50px;
  // height: 100vmax;
  // margin-bottom: 100px;
}
h1{
  margin: 0px -500px 0px 0px ;
  z-index:100;
  font-size: 250px;
}

/* new header */
.camera {
  // position: absolute;
  width: 100vw;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  
  &.z {
    transform: rotateZ(-45deg);
  }
  
  &.y {
    transform: rotateX(45deg);
  }
}

.building {
  position: relative;
  width: 100%;
  height: 100%;
  background: darkgrey;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    background: grey;
    transform-origin: 100% 50%;
    transform: translateX(-100%) rotateY(-90deg);
    backface-visibility: hidden;
  }
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
    transform-origin: 50% 0;
    transform: translateY(100%) rotateX(-90deg);
    backface-visibility: hidden;
  }
}

.city {
  width: 100%;
  height: 100vh;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.area {
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation: slide 40000ms linear infinite;
  
  @for $i from 1 through 200 {
    $width: random(150) + 30px;
    $height: random(400) + 20px;
    $depth: random(150) + 30px;
    $top: random(100) + 0%;
    $left: random(140) - 20%;
    $delay: random(40000) * -1ms;

    &:nth-child(#{$i}) {
      top: $top;
      left: $left;
      width: $width;
      height: $depth;
      animation-delay: $delay;
      
      .building {
        transform: translate(-50%, -50%) translateZ($height);

        &::before {
          width: $height;
        }
        
        &::after {
          height: $height;
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateY(-200vh);
  }
  
  100% {
    transform: translateY(200vh)
  }
}

.card:hover .card-body{
  transform: translateY(-20px);
  transition: all 0.35s ease-in;
}
.card-body{
  transition: all 0.35s ease-in;
}
