<!-- <div class="heading ">
  <h1 style="justify-content: center; display: flex;">
    Projects
    </h1>
</div> -->
<div class="row header" style="box-shadow: 0px 4px 8px rgba(0,0,0,0.35);">
  <div class="col-1"></div>
  <div class=" col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
    <h1 style="justify-content: center; display: flex; align-items: center;">
      Projects
    </h1>
  </div>
  <div class="col-md-10 col-lg-10 col-xl-10 col-sm-12 col-xs-12">
    <img src="../../assets/bg2.jpg" style="width: 100%; height:auto;">  

  </div>
</div>
<!--
<div class="container"> 
  <div class="card-group">
      <div class="card ">
        <img src="../../assets/isgw.jpg" alt="Denim Jeans" height="300px" width="100%">
        <h1>ISGW</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="card  ">
        <img src="../../assets/linefollower.jpeg" alt="Denim Jeans" height="300px" width="100%">
        <h1>Line Follower</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>

      <div class="card ">
        <img src="../../assets/smart bin.png" alt="Denim Jeans" height="300px" width="100%">
        <h1>Smart Bin</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="card ">
        <img src="../../assets/Window Cleaning Drone(Hover).jpeg" alt="Denim Jeans" height="300px" width="100%">
        <h1>Drone</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
    </div>
</div>
-->
<!--
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-lg-3 col-xl-3 card">
      <img src="../../assets/isgw.jpg" alt="Denim Jeans" height="300px" width="100%">
        <h1>ISGW</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-3 col-xl-3 card">
      <img src="../../assets/linefollower.jpeg" alt="Denim Jeans" height="300px" width="100%">
        <h1>Line Follower</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-3 col-xl-3 card">
      <img src="../../assets/smart bin.png" alt="Denim Jeans" height="300px" width="100%">
        <h1>Smart Bin</h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-3 col-xl-3 card">
      <img src="../../assets/Window Cleaning Drone(Hover).jpeg" alt="Denim Jeans" height="300px" width="100%">
        <h1><a>Drone</a></h1>
        <p class="price">(dsecription)</p>
        <p class="small">Some text about this..</p>
        <a>
          Repo
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </div>
    
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card1" id="first">
        <h1>ISGW</h1>
        <p>lorem ipsum</p>
      </div>      
    </div>
    <div class="col">
      <div class="card1" id="second">
        <h1>Line Follower</h1>
        <p>lorem ipsum</p>
      </div>      
    </div>
    <div class="col">
      <div class="card1" id="third">
        <h1>Smart Bin</h1>
        <p>lorem ipsum</p>
      </div>      
    </div>
    <div class="col">
      <div class="card1" id="fourth">
        <h1>Drone</h1>
        <p>lorem ipsum</p>
      </div>      
    </div>
    <div class="card2">
      <div class="image">
        <img src="../../assets/c2.jpg" alt="">
      </div>
      <div class="detail">
        <h3>Hover</h3>
        <p>
          Lorem ipsum
        </p>
      </div>
    </div>
  </div>
</div>
-->
<!-- card trying -->
<div class="container">
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card2">
        <div class="image">
          <img src="../../assets/isgw.jpg" alt="">
        </div>
        <div class="detail">
          <h3>ISGW</h3>
          <p>
            Lorem ipsum
          </p>
          <a href="#">
            Repo
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card2">
        <div class="image">
          <img src="../../assets/linefollower.jpeg" alt="">
        </div>
        <div class="detail">
          <h3>Line Follower</h3>
          <p>
            Lorem ipsum
          </p>
          <a href="#">
            Repo
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card2">
        <div class="image">
          <img src="../../assets/Window Cleaning Drone(Hover).jpeg" alt="">
        </div>
        <div class="detail">
          <h3>Drone</h3>
          <p>
            Lorem ipsum
          </p>
          <a href="#">
            Repo
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card2">
        <div class="image">
          <img src="../../assets/smart bin.png" alt="">
        </div>
        <div class="detail">
          <h3>Smart Bin</h3>
          <p>
            Lorem ipsum
          </p>
          <a href="#">
            Repo
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
  
</div>