section{
    display:grid;
    place-items:center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 4%;
    text-align: center;
    font-family: arial;
    transition: all 0.2s ease-in-out;
    background-color: #fff;
    /*background-color: rgba(135, 206, 235,0.7);*/
    // background-color:#cffffe;
    // background-image: linear-gradient( 89.2deg,  rgba(191,241,236,1) 22.3%, rgba(109,192,236,1) 84.1% );
    border-radius: 20px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card a {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card:hover{
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
  }

  a{
    border-radius: 20px ;
  }
  .card button:hover {
    opacity: 0.7;
  }

  a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding:16px 32px;
    background-image: linear-gradient(120deg, transparent 50%, white 50%);
    background-size: 250%;
    transition:all 0.4s;
}
 .card a:hover{
    font-weight: bolder;
    background-position: 100%;
    color: rgba(0,0,0,0.9);
}
#projects{
    min-height: 100px;
    padding: 50px;
    margin-bottom: 50px;
    color: black;   
    border-radius: 10px;
    // box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient( 109.5deg,  rgba(76,221,242,1) 11.2%, rgba(92,121,255,1) 91.1% );
    width: 100vw;
}
h1{
    // font-family: 'Lobster Two', cursive;
    font-family: 'PT Serif', serif;
}
#projects>h1{
    font-size: 5rem ;
}

/* card trying */
.card-new{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    transition: all 0.2s ease-in-out;
}
@media (min-width: 576px){
  .card-group>.card+.card {
      margin-left: 25px;
      border-left: 0;
  }
}

h1>a{
  color: blue;

}