<div class="head d-flex justify-content-center align-items-center   " style="height: 50vh;">
    <h1>events</h1>
</div>
<div class="card d-flex align-items-center" style="box-shadow: 0px 4px 8px rgba(0,0,0,0.35); min-height:50vh;">
    <h2>Sessions</h2>
</div>
<div class="card d-flex align-items-center" style="box-shadow: 0px 4px 8px rgba(0,0,0,0.35); min-height:50vh;">
    <h2>Contests</h2>
    <h6>Comming soon... </h6>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-12" style="display: flex; justify-content: center; align-items: center;">
            <h1>CYBORG</h1>
        </div>
        <div class="col-12 events">
            New Events coming up super soon ..!!!
        </div>
    </div>
</div> -->