<div class="head d-flex justify-content-center align-items-center  " style="height: 70vh; z-index: -1;">
    <canvas id="canvas" ></canvas>
</div>
<div class="heading mt-5 container mb-5">
    <h1 style="justify-content: center; display: flex;">
       EVENTS
    </h1>
</div>
<div class="head d-flex justify-content-center align-items-center" style="height: 70vh;">
    <h1 style="z-index:1000; margin: 0;">PROJECTS</h1>
  </div>
<h1>events</h1>
<div class="card" style="box-shadow: 0px 4px 8px rgba(0,0,0,0.35); background-color: rgba(0,0,0,0.1);">
    <div class="heading mt-5 container mb-5">
        <h1 style="justify-content: center; display: flex;">
           SESSIONS
        </h1>
    </div>
    <!-- <h2 style="align-self: center;">Sessions</h2> -->
    <div class="container">
        <div class="row d-flex justify-content-around mb-5">
            <div class="card col-md-4 col-sm-12 col-lg-3 col-xl-3" *ngFor="let i of data_array" >
                <img class="card-img-top" src="{{i.Image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{i.Title}}</h5>
                    <p class="card-text" style="align-self: flex-end;">{{i.Date}}</p>
                    <p class="card-text">{{i.Description}}</p>
                    <div class="card-body d-flex justify-content-center align-items-center" style="padding: 0;">
                        <a href="{{i.Drive}}" class="card-link"><i class="fab fa-google-drive"></i></a>
                        <a href="{{i.Github}} " class="card-link"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card d-flex align-items-center" style="box-shadow: 0px 4px 8px rgba(0,0,0,0.35); min-height:50vh; background-color: rgba(0,0,0,0.1);">
    <div class="heading mt-5 container mb-5">
        <h1 style="justify-content: center; display: flex;">
           CONTESTS
        </h1>
    </div>
    <!-- <h2>Contests</h2> -->
    <h4>Coming soon... </h4>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-12" style="display: flex; justify-content: center; align-items: center;">
            <h1>CYBORG</h1>
        </div>
        <div class="col-12 events">
            New Events coming up super soon ..!!!
        </div>
    </div>
</div> -->