<footer style="top:400px; position: relative;">
    <div class="row">
        <div class=" col-xs-12 col-md-4 col-sm-12 col-lg-4 col-xl-4 container" style="display:flex; flex-direction: column;">
            <img src="../../assets/logo2.png" >
            <ul >
                <li> <a href="https://github.com/cyborg-iiitd" style="color:white"> <i class="fa fa-github-square" aria-hidden="true"></i></a></li>
                <li> <a href="https://www.facebook.com/cyborgiiitd/" style="color: white;"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> </li>
                <li> <a href="https://www.facebook.com/cyborgiiitd/" style="color: white;"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
                <li> <a href="http://bit.ly/cyborg19-telegram" style="color: white;"><i class="fa fa-telegram" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-3 col-sm-12 col-lg-3 col-xl-3  location container" >
            <ul style="display: flex; flex-direction: column;" >
                <li class="nav-links"> <a  routerLink="/" routerActiveLink="active" > <div class ="d">Home</div ></a> </li>
                <li class="nav-links"> <a  routerLink="/about" routerActiveLink="active"> <div class ="d">About&nbsp;Us</div ></a> </li>
                <li class="nav-links"> <a  routerLink="/projects" routerActiveLink="active"> <div class ="d">Projects</div ></a> </li>
                <li class="nav-links"> <a  routerLink="/events" routerActiveLink="active"> <div class ="d">Events</div ></a> </li>
                <li class="nav-links"> <a  routerLink="/gallery" routerActiveLink="active"> <div class ="d">Photo&nbsp;Gallery</div ></a> </li>
                <li class="nav-links"> <a  href="/about#feedback" routerActiveLink="active"><div class ="d">Contact&nbsp;Us</div ></a> </li>
            </ul>
        </div>
        <!-- <div class=" col-xs-12 col-md-3 col-sm-12 col-lg-3 col-xl-3 location container">
            <p>Location:</p>
            Indraprastha Institute of Information Technology, Delhi<br>
            Okhla Industrial Estate,Phase II<br>
            (Near Govind Puri Metro Station)<br>
            New Delhi, India - 11002
        </div> -->
        <div class=" col-xs-12 col-md-5 col-sm-12 col-lg-5 col-xl-5 container">
            <iframe  id="gmap_canvas" src="https://maps.google.com/maps?q=Indraprastha%20Institute%20of%20information%20Technology&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
    

</footer>
<hr>
<footer style="width:100vw;min-height: 100px;background: #000;color:#fff;padding-top:10px; padding-bottom:10px ; position: relative; margin-top:400px;">
    <div class="container">
        <a href="https://iiitd.ac.in"><img src="../../assets/iiitd_logo.png" class="img-responsive" style="margin-left: auto; margin-right: auto; max-height: 100px; max-width:100vw;"></a>
    </div>
</footer>
<hr>
<footer style="width:100vw;background: #000;color:#fff;padding-top:10px; padding-bottom:10px; min-height: 10px !important; position:relative; ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p style="text-align: center;"> &copy; Cyborg,&nbsp;IIITD</p>
            </div>
            <div class="col-12">
                <p style="text-align: center;"> Designed and Developed by<a>Tushar&nbsp;Mohan</a></p>
            </div>
        </div>
    </div>
</footer>
