*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    width:100vw;
    height: 10vh;
    background-color: rgba(0,0,0,1);
    display:flex;
    align-items: center;
    position: absolute;
    transition: all 0.3s;
    color:rgb(255,255,255);
    justify-content: center;
    font-family: 'Audiowide', cursive;
    z-index: 1000;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
h1, h2{
    // padding-left:40px;
    font-weight: lighter;
    cursor: pointer;
    font-family: 'Audiowide', cursive;
}
section{
    display:grid;
    place-items:center;
}
.home{
    height: 90vh;
}
.about, .services{
    background-color: white;
    height: 100vh;
    color: rgba(0,0,0,0.9);
}
.change{
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}   

.offcanvas-active{
    overflow:hidden;
}
.screen-overlay {
  width:0%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
    transition:opacity .5s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}
.offcanvas{
    width:50px;
    visibility: visible;
    transform:translateX(-100%);
    transition:all .2s;
    border-radius:0; 
    box-shadow: 0 5px 10px rgba(0,0,0, .2);
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1200;
    background-color: rgba(0,0,0,1);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
}
.offcanvas.offcanvas-right {
   right: 0;
   left: auto;
   transform: translateX(100%); 
   transition: all 0.2s ease-in-out;
 }
.offcanvas.show{
    visibility: visible;
    transform: translateX(0);
    transition: all .2s;
}
.offcanvas:hover{
    width:250px;
    transition: all 0.3s ease-in-out;
}

.offcanvas .btn-close{ position: absolute; right:15px; top:15px; }

nav{
    width:80%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
ul{
    display:flex;
    flex-direction:column;
    align-items: center;
    list-style: none !important;
}
li{
    margin-top:21px;
}
li i{
    visibility: visible;
}
a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding:16px 32px;
    background-image: linear-gradient(120deg, transparent 50%, white 50%);
    background-size: 250%;
    transition:all 0.4s;
}
li:hover a{
    background-position: 100%;
    color: rgba(0,0,0,0.9);
    transform: translateX(16px);
}
// .offcanvas .d h1{
//     transition: typing 3.6s steps(30,end);
//     // transition: all 0.3s ease-in-out;
//     transition-delay: 0.3s;
// }
.d{
    display: none;
    // display: inline;
    // visibility: hidden;
    transition: display 100ms ease-in-out;
    // width: 0px;
    // transition-delay: 0.3;
}
// .offcanvas:hover .d:hover h1{
//     transition: typing 3.6s steps(30,end);
//     // transition: all 0.3s ease-in-out;
// }
.offcanvas:hover .d{
    display: inline;
    // width: max-content;
    transition: display 0.3s ease-in-out;
    // transition-delay: 1s;
    // visibility: visible;
}
.hide{
    opacity:0;
}
span{
    position: absolute;
    right:1rem;
    transition: all 0.2s ease-in-out ;
}
.rotate{
    transform: rotate(90deg);
    transition: all 0.2s ease-in-out ;
}

@media(max_width:600px){
    .offcanvas{
        width:350px;
        visibility: invisible;
        transform:translateX(-100%);
        transition:all .2s;
        border-radius:0; 
        box-shadow: 0 5px 10px rgba(0,0,0, .2);
        display:block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1200;
        background-color: black;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all 0.2s ease-in-out;
    }
    .offcanvas.offcanvas-right {
       right: 0;
       left: auto;
       transform: translateX(100%); 
       transition: all 0.2s ease-in-out;
     }
    .offcanvas.show{
        visibility: visible;
        transform: translateX(0);
        transition: all .2s;
    }
    header{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}