<header data-trigger="#my_offcanvas2" >
      <span> <i class="fa fa-bars"></i> </span>

      <h1>CYBORG</h1>
</header>


<b class="screen-overlay"></b>

<aside class="offcanvas  show" id="my_offcanvas2">
  <nav>
    <ul class = " menu">
      <img src="../../assets/logo.png" height="75px" width="100px">
        <li> <a href="#" >Home</a> </li>
        <li> <a href="#about-us" >About&nbsp;us</a> </li>
        <li> <a href="#projects" >Projects</a> </li>
        <li> <a href="#events" >Events</a> </li>
        <li> <a href="#photo-gallery" >Photo&nbsp;Gallery</a> </li>
        <li> <a href="#contact-us" >Contact&nbsp;Us</a> </li>
    </ul>
  </nav>
</aside>
<!--
<section class="home">
    <h2>home</h2>
  </section>
  <section class="about">
      <h2>about</h2>
  </section>
  <section class="services">
      <h2>services</h2>
  </section>  -->