<header data-trigger="#my_offcanvas2" >
      <span> <i class="fa fa-bars"></i> </span>

      <h1><b>CYBORG</b></h1>
</header>


<b class="screen-overlay"></b>

<aside class="offcanvas  show" id="my_offcanvas2">
  <nav>
    <ul class = " menu">
      <img src="../../assets/logo.png" height="40px" width="50px">
        <li> <a  routerLink="/" routerActiveLink="active" > <i class="fa fa-home" style="opacity: 1;"aria-hidden="true"></i><div class ="d">Home</div ></a> </li>
        <li> <a  routerLink="/about" routerActiveLink="active"> <i class="fa fa-info" style="opacity:1;" aria-hidden="true"></i><div class ="d">About&nbsp;Us</div ></a> </li>
        <li> <a  routerLink="/projects" routerActiveLink="active"> <i class="fa fa-android" style="opacity:1;" aria-hidden="true"></i><div class ="d">Projects</div ></a> </li>
        <li> <a  routerLink="/events" routerActiveLink="active"> <i class="fa fa-calendar-o" style="opacity:1" aria-hidden="true"></i><div class ="d">Events</div ></a> </li>
        <li> <a  routerLink="/gallery" routerActiveLink="active"> <i class="fa fa-picture-o" style="opacity:1;"aria-hidden="true"></i><div class ="d">Photo&nbsp;Gallery</div ></a> </li>
        <li> <a  routerLink="/about#feedback" routerActiveLink="active"><i class="fa fa-inbox" style="opacity: 1;" aria-hidden="true"></i><div class ="d">Contact&nbsp;Us</div ></a> </li>
    </ul>
  </nav>
</aside>
<!--
<section class="home">
    <h2>home</h2>
  </section>
  <section class="about">
      <h2>about</h2>
  </section>
  <section class="services">
      <h2>services</h2>
  </section>  -->