<header data-trigger="#my_offcanvas2">
    <h1>Cyborg <i class="fa fa-android" aria-hidden="true"></i></h1>
</header>
<b class="screen-overlay"></b>

<aside class="offcanvas offcanvas-right show" id="my_offcanvas2">
  <nav>
      <ul class = " menu">
        <li> <a href="#" >Home</a> </li>
        <li> <a href="#" >About&nbsp;us</a> </li>
        <li> <a href="#" >What&nbsp;We&nbsp;Actually&nbsp;Do?</a> </li>
        <li> <a href="#" >Our&nbsp;Projects</a> </li>
        <li> <a href="#" >Our&nbsp;Team</a> </li>
        <li> <a href="#" >Contact</a> </li>
    </ul>
  </nav>
</aside>
<section class="home">
    <h2>home</h2>
  </section>
  <section class="about">
      <h2>about</h2>
  </section>
  <section class="services">
      <h2>services</h2>
  </section>  