/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
// @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
*{
    margin:0;
    padding: 0;
}
html,body{
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    background-color:rgba(0,0,0,0.8);
    // background-image: radial-gradient( circle 344px at 1.4% 0%,  rgba(242,185,252,1) 19.3%, rgba(250,254,190,1) 80.7% );
}